<% param_name = "#{association_name}_page" %>

<%= render :partial => 'admin/templates/modals/has_many' %>

<div class="box_relationships" id="<%= association_name %>">

  <h2>
    <%= @resource.human_attribute_name(association_name) %>
    <%= " (#{@data.count})" if @resource.typus_options_for(:counters) %>
    <small><%= add_new %></small>
  </h2>

  <% if @items.any? -%>
    <%= table %>
    <%= admin_paginate(@items, Typus.pagination.merge(:anchor => association_name, :param_name => param_name)) %>
  <% else %>
    <p><%= Typus::I18n.t("No entries found.") %></p>
  <% end %>

</div>
