<!-- List of all available models -->

<h2><%= Typus::I18n.t("Users") %> <%= Typus.user_class.count %></h2>

<table class="table">

  <thead>
    <tr>
      <th><%= Typus::I18n.t("User") %></th>
      <th><%= Typus::I18n.t("Status") %></th>
      <th><%= Typus::I18n.t("Last logged in") %></th>
    </tr>
  </thead>

  <% Typus.user_class.limit(5).each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.status %></td>
      <td><%= user.created_at %></td>
    </tr>
  <% end %>

</table>
