<%
  page_title = Typus::I18n.t("Edit %{resource} %{id}", :resource => @resource.model_name.human, :id => @item.identifier)
  admin_title(page_title)
%>

<% content_for :main_grid do %>
  <%= render 'edit' %>

  <% unless headless_mode? %>
    <h1><%= page_title %></h1>
  <% end %>

  <%= admin_display_flash_message %>

  <% locals = { :options => params.dup.cleanup.merge!(:action => 'update') } %>
  <%= render 'form', locals %>

  <% unless headless_mode? %>
    <%= render 'admin/shared/modals' %>
    <%= typus_relationships %>
  <% end %>
<% end %>
